.auth-page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .left-column {
    background-size: cover;
  }

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222;

    .auth-form-wrapper {
      @include input-element();
      @include base-grid();
      grid-gap: 21px;
      padding: 42px;

      .form-group {
        display: flex;

        input {
          color: $offwhite;
        }

        svg {
          font-size: 2em;
          color: $accent-text;
          margin-right: 15px;
        }
      }
      button {
        &:hover {
          background-color: $charcoal;
          box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
