body {
  background-color: $dark-charcoal;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  color: $offwhite;
}

.main {
  display: grid;
  grid-template-columns: calc(8vw) calc(92vw);
  .nav-wrapper {
    height: 100vh;
  }
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
