body {
  background-color: $charcoal;
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  color: $offwhite;
}

::-webkit-scrollbar {
  height: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
