@mixin base-btn {
  cursor: pointer;
  height: 42px;
  font-size: 1em;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 500ms ease-in-out;
  background-color: $dark-charcoal;
  color: #b4aea2;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $dark-charcoal;
    box-shadow: 10px 10px 30px -10px rgba(0, 0, 0, 0.5);
  }
}

@mixin input-element {
  input {
    font-family: "Roboto Mono", monospace;
    color: $offwhite;
    padding: 5px 0;
    width: 100%;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid $base;
    background-color: transparent;
    transition: 500ms all ease-in-out;
    font-size: 1.1em;
    margin-bottom: 21px;

    &:focus {
      outline: none;
      border-bottom: 1px solid $base-accent;
    }
  }
}

@mixin base-grid() {
  display: grid;
  grid-gap: 21px;
}
