@media (max-width: 600px) {
  #hide {
    display: none;
  }
  .ReactModalPortal > .ReactModal__Overlay {
    .ReactModal__Content,
    .ReactModal__Content--after-open {
      width: 80%;
    }
  }
  body > .app-wrapper > .container > .main {
    display: flex;
    flex-direction: column;
    .mobile-dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 5vh;
      background-color: $base;
      .dropdown-btn {
        border: none;
        outline: none;
        background-color: $base;
        color: $accent-text;
        font-size: 1.25em;
      }
    }
  }
  .nav-bar {
    .nav-wrapper {
      padding-top: 5vh;
      height: 90vh;
      .top {
        font-size: 2.5rem;
        text-align: center;
      }
      .bottom {
        height: 100%;
        .nav-link-wrapper {
          font-size: 2rem;
          height: auto;
          margin-bottom: 12%;
        }
      }
    }
  }

  .page-content {
    .homepage-wrapper > .portfolio-items-wrapper {
      grid-template-columns: 1fr;
    }
    .content-page-wrapper {
      height: auto;
      display: flex;
      flex-direction: column;
      .left-column {
        height: 45vh;
      }
      .right-column {
        justify-content: flex-start;
        padding: 0 5%;
        height: 50vh;
        #bio {
          text-align: left;
          text-indent: 1.5em;
        }
      }
    }
    .blog-container {
      .new-blog-link {
        position: relative;
        width: 90%;
        right: 0;
        display: flex;
        justify-content: center;
      }
      .content-container {
        width: 90%;
      }
    }
  }
}
