.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  text-transform: uppercase;
  background-color: $base;

  .right-side {
    a {
      margin-left: 15px;
      cursor: pointer;
      color: $warning;
      transition: 500ms ease-in-out;

      &:hover {
        color: darkred;
      }
    }
  }

  .left-side {
    display: flex;
    height: 24px;

    .nav-link-wrapper {
      height: 22px;
      border-bottom: 1px solid transparent;
      transition: 500ms ease-in-out;
      margin-right: 20px;
      font-size: 0.9rem;

      a {
        color: darkgrey;
        text-decoration: none;
        transition: 0.5s ease-in-out;
        border-bottom: 1px solid transparent;
        &:hover {
          border-bottom: 1px solid grey;
          color: grey;
        }
      }

      .nav-link-active {
        border-bottom: 1px solid $accent-text;
        color: $accent-text;
      }
    }
  }
}
